#nav-challenges{
    background-color: #f6d41c;
    transform: scale(1.2);
}


.wrapper-pappa{
    background-image: url(../IMG/bg-challenges/bg-challenges.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:150px 20px 20px 20px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}


.card{
    height:20em;
    width:22em;
    
    background-color: rgba(148,129,184,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color:white;
    padding-bottom:0.75em;
    margin:0.5em 0.2em 0.5em 0.2em;
    border: 2px solid white;
    border-radius: 3em;
    font-weight: 600;
    
}
.card p{
    margin:1em;
}
@media screen and (max-width: 500px) {
    .card{
        background-color: rgba(148,129,184,1);
    }
 .wrapper-pappa{
    background-image: none;
 }

}




