#nav-challenges{
    background-color: rgb(148, 129, 184);
    transform: scale(1.2);
}
.header {
    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 2;
    margin-top:20vh;
    background-color:#634d8d;

    font-weight: 100;
    color:white;

}


.challenge{
    font-size: larger;
}

.wrapper{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.wrapper .card{
    background-color: #634d8d;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    color:white;
    padding: 40px;
    border-radius: 200px, 40px, 40px, 200px;
}


.content{
    font-weight: 500px;
    font-size: 22px;
}





