#nav-challenges{
    background-color: #f6d41c;
    transform: scale(1.2);
}


.wrapper-pappa{
    background-image: url(../IMG/bg-challenges/bg-challenges.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:150px 20px 20px 20px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}


.card{
    height:17em;
    width:25em;
    background-color: rgba(99, 77, 141,0.97);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color:white;
    padding:0.75em;
    margin:0.5em 0.2em 0.5em 0.2em;
    border: 2px solid white;
    border-radius: 3em;
    font-weight: 600;
}
.card p{
    margin:20px;
}
@media screen and (max-width: 1000px) {
 .wrapper-pappa{
    background-image: none;
 }

}




