body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;
    overflow-x: hidden;
    background-color: #634d8d;
    line-height: 25px;
    font-weight: 600;
}
.a-button{
    width: fit-content;
    padding: 15px;
    text-align: center;
    margin: 15px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: rgba(99, 77, 141, 1);
    text-decoration: none;
}
.a-button:hover{
    transform: scale(1.2);
}
.a-button:active{
    transform: scale(1.1);
}
.swipe-anim-container{
    position: sticky;
    bottom:10px;
    margin:0;
    padding:0;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 2px;
    }
.swipe-anim-border{
    display: flex;
    justify-content: center;
    background: rgba(18, 18, 50,0.9);
    height: 55px;
    width: 98px ;
    }
.swipe-anim-bath{
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        
        background-image: url(../IMG/Ikoner/bathtub_ikon.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        top: -47px;
    
        animation-name: swipe-bath;
        animation-duration: 6s;
        animation-timing-function:ease-in-out;
        animation-iteration-count: infinite;
        animation-direction:reverse; /*eller reverse*/
        animation-play-state: running;
    }
.scroll-fig{
        position: absolute;
        height: 20px;
        right: 2px;
        width: 3px;
    
        background: white;
        background-size: cover;

        animation-name: swipe-scroll;
        animation-duration: 6s;
        animation-timing-function:ease;
        animation-iteration-count: infinite;
        animation-direction:normal; 
        animation-play-state: running;
            }

@keyframes swipe-bath{
    0%, 40% {top:-47px}
    80%, 100% {top:45px}
        }
@keyframes swipe-scroll{
        0%, 10% {top:-20px}
        80%, 100% {top:55px}
        } 

 

@media screen and (max-width: 1000px) {
        .swipe-anim-container{
            border-radius: 8px;
            }
        .swipe-anim-border{
            display: flex;
            justify-content: center;
            background: rgba(18, 18, 50,0.9);
            height: 55px;
            width: 35px;
            }
            .notch-fig{
                position: absolute;
                display: block;
                top:0px;
                height: 3px;
                width: 15px;
                background: white;
                background-position: center;
                z-index: 2;
            }
            @keyframes swipe-bath{
                0%, 20% {top:55px}
          
                70%, 100% {top:-45px}
                    }
            @keyframes swipe-scroll{
                0%, 10% {top:-45px}
              
                80%, 100% {top:55px}
                    }
            .scroll-fig{
                position: absolute;
                display: block;
                width: 15px;
                height: 15px;
                
                background: none;
                background-image: url(../IMG/Ikoner/swipe-point.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
               
            
                animation-name: swipe-scroll;
                animation-duration: 4s;
                animation-timing-function:ease;
                animation-iteration-count: infinite;
                animation-direction:reverse; /*eller reverse*/
                animation-play-state: running;
                z-index: 3;
            }

            .swipe-anim-bath{
                position: relative;
                
                width: 30px;
                height: 30px;
                display: block;
          
                animation-name: swipe-bath;
                animation-duration: 4s;
                animation-timing-function:ease;
                animation-iteration-count: infinite;
                animation-direction:reverse; /*eller reverse*/
                animation-play-state: running;
                }
        }