.home-main{
    height: 100vh;
    background-color: antiquewhite;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* scroll-padding: 40px;  KANSKJE HJELPSOM NÅR MAN SKAL SETTE INN NAVBAR*/
}
.home-main > * {
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-main .frame1{
    background-color: antiquewhite;
    background-image: url("bakgrunn3-min.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.home-main .frame2{
    background-color: antiquewhite;
    background-image: url("bakgrunn1-min.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.home-main .frame3{
    background-color: antiquewhite;
    background-image: url("bakgrunn2-min.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.home-main .frame4{
    background-color: antiquewhite;
    background-image: url("bakgrunn4-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
               
}
.main-content{
    display: flex;
    /* justify-content: center; */

    width: 75vw;
    height: 75vh;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);

    /* background-image: radial-gradient(255,255,255,0.5); */
}


.main-content h1{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    
} 