.home-main{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.home-main > * {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    /* scroll-behavior: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-main h1{
    padding:0;
    margin: 0.5em;
}
.home-main p{
    font-weight: 600;
    padding:0.5em;
    margin:0;
}

.frame1, .frame2, .frame3, .frame4{
    color: rgba(255, 255, 255, 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content:space-around;

}
.home-main .frame1{
    background-image: url("../IMG/background-info-main-guide/main-bg1.jpg");
}

.home-main .frame2{
    background-image: url("../IMG/background-info-main-guide/main-bg2.jpg");
}
.home-main .frame3{
    background-image: url("../IMG/background-info-main-guide/main-bg3.jpg");
}
.home-main .frame4{
    background-image: url("../IMG/background-info-main-guide/main-bg4.jpg");           
}

.main-content1, .main-content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    width: -moz-fit-content;

    background-color: rgba(148,129,184,0.9);

    border: 2px solid  white;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    
    margin: 0 5vw 0 5vw;
    
    font-weight: bolder;
    z-index: 2;
    text-align: center;
}

.main-content1{
    margin-top: 100px;
}
.main-content1{
    font-size: 1.5rem;
}
.main-content2{
    
    font-size: 1rem;
}

