.scroll-Lock{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

.scroll-Lock > *{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-behavior: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.page, .pageTwo, .pageThree{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.page{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../IMG/background-info-main-guide/info-bg1.jpg);
}


.pageTwo{
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.75)), url(../IMG/background-info-main-guide/info-bg2.jpg);
}


.pageThree{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../IMG/background-info-main-guide/info-bg3.png);
}

.content, .contentTwo, .contentThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:15vh 0 0 0;
    color: #fff;
    text-align: center;
}

.content h1, .contentTwo h1, .contentThree h1{
    font-size: xx-large;
}
.content p, .contentTwo p, .contentThree p{  
    margin-right: 15%;
    margin-left: 15%;
    font-weight: 100;
    line-height: 25px;
    font-size: medium;
}

.button-container{
    transform: translateY(-50%);
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin:15vh 0 0 0;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #9481b8;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .content, .contentTwo, .contentThree{
        font-size: 5vw;
        }
    .content p, .contentTwo p, .contentThree p{
        font-size: 3vw;
        }
} 