.form-sec{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../IMG/bg-kontakt/bg-kontakt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    margin-top:15vh;
    margin-bottom: 5vw;
    background-color: rgba(148,129,184,0.9);
    border: 2px solid  white;
    border-radius: 10px;
    width: 75vw;
    color:white;
}

#informasjon{
    padding: 5%;
}

#navn{
    display: flex;
    flex-direction: column;
    margin-bottom: 45%;
    
}
#full_navn{
    border-style:solid;
    border-width: 2px;
    border-color:black;
}

#epost{
    display: flex;
    flex-direction: column; 
    margin-bottom: 45%;
}
#e-post{
    border-style:solid;
    border-width: 2px;
    border-color:black;
}

#mobilnummer{
    display: flex;
    flex-direction: column;
    margin-bottom: 45%;
}
#nummer{
    border-style:solid;
    border-width: 2px;
    border-color:black;
}

#input{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

#textarea{
    border-style:solid;
    border-width: 2px;
    border-color:black;

}

#send_inn{

    width: fit-content;
    padding: 15px;
    text-align: center;
    margin: 15px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: rgba(99, 77, 141, 1);
    text-decoration: none;
}

#send_inn:hover{
    transform: scale(1.2);
}
#send_inn:active{
    transform: scale(1.1);
}

@media screen and (max-width:729px) {
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.2em;
        margin-top:15vh;
        margin-bottom: 5vw;
        background: rgba(99, 77, 141, 1);
        width: 75vw;
        color:white;
        
    }
    

    #navn{
        display: flex;
        flex-direction: column;
        max-height: 5px;
    }
    #full_navn{
        border-style:solid;
        border-width: 2px;
        border-color:black;
    }
    
    #epost{
        display: flex;
        flex-direction: column; 
        max-height: 5px;
    }
    #e-post{
        border-style:solid;
        border-width: 2px;
        border-color:black;
    }
    
    #mobilnummer{
        display: flex;
        flex-direction: column;
        max-height: 5px;
    }
    #nummer{
        border-style:solid;
        border-width: 2px;
        border-color:black;
    }

    
    #textarea{
        border-style:solid;
        border-width: 2px;
        border-color:black;
        width:70vw;
        height: 25vh;
    }
    
    #button{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #send_inn{
        width: fit-content;
        padding: 15px;
        text-align: center;
        margin: 15px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #fff;
        color: #fff;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background: rgba(99, 77, 141, 1);
        text-decoration: none;
        
    }
    
    #send_inn:hover{
        transform: scale(1.2);
    }
    #send_inn:active{
        transform: scale(1.1);
    }
}