nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /*Denne gjør susen*/
    /* height: 100%;  */
    height: 100px;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #634d8d;
    
    
    
    }

.nav_ikon{
    position:absolute;
    top:0;
    right: 0;

    margin: 20px 30px;

    height: 50px;
    width: 50px;

    border-radius: 5px;

    background-color: #634d8d;
    background-image: url("../IMG/burgerIkon2.svg");
    background-position: center;
    background-repeat: no-repeat;
    
    cursor: pointer;
}
.mobil_logo{
    position: absolute;
    display: block;
    top:0;
    left:0;

    margin: 11px 0px 0px 15px;
    height: 75px;
    width: 75px;

    background-image: url("../IMG/BadCom-logo-100px.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

nav ul{
    display: none;
    list-style-type: none;
    padding: 0;
    width: 100vw;
    /* height: 100vh; */
    background: #634d8d;
    /* background: rgba(99, 77, 141, 0.95); */
    }

nav ul li a{
    display: block;
    min-width: 150px;
    
    margin: 25px;    
    padding: 20px;

    
    border: 2px solid white;
    border-radius: 35px;

    background-color: #634d8d;

    text-decoration: none;
    color: white;
    font-weight: normal;
    text-align: center;
    }

.nav_senter{
    display: none;
    }
   
.nav_check{
    display: none;
    }
    
.nav_check:checked ~ ul{
        position: absolute;
        display: block;
        margin-top: 100px;
        /* width: 75vw; */
    }

.nav_check:checked + .nav_ikon{
        background-image: url("../IMG/kryss2.svg");
}
nav ul li a:hover{
    transform: scale(1.1);
}
    
@media screen and (min-width: 1000px) {
    nav{
        height: 135px;
        
        background-color: #634d8d;
    }
    .nav_ikon{
            display: none;
    }
    .mobil_logo{
            display: none;
    
    }

    nav ul{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin:0;
        padding:0;
        
    }

    nav ul li a{
        margin: 1vw;
        padding: 10px;
        border-radius: 25px;
        border: 2px solid white;
    }

    .nav_senter{
        margin: 5px;
        padding: 5px;
        background: none;
        display: block;
        height: 125px;
        width: 125px;
        background-image: url("../IMG/BadCom-logo-360px.png");
        background-size: 125px;
        background-position: center;
        background-repeat: no-repeat;
        border-style: none;
        border-color: none;
    } 

}