body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: brown;
}
.float_container_guide{
    border: 3px solid #fff;
    padding: 30px;
}
.float_child_guide{
    border-radius: 20px;
    border: 3px solid red;
    background-color: rgb(227, 245, 246);
    width: 45%;
    float: left;
    padding: 10px;
}