.nav_ikon{
    position:absolute;
    top:0;
    right: 0;

    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 5px;

    background-color: #634d8d;
    background-image: url("burgerIkon2.svg");
    background-position: center;
    background-repeat: no-repeat;
    
    cursor: pointer;
    z-index: 99;
}
.mobil_logo{
    display: block;

    margin:10px;
    height: 70px;
    width: 70px;

    background-image: url("BadCom_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;

    cursor: pointer;
    z-index: 99;
}
nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 99;
    }

nav ul{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 99;
    }

nav ul li a{
    display: block;

    margin: 10px;    
    padding: 10px;
    border-radius: 15px;

    background: #634d8d;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Over skal nok fjernes */
    text-decoration: none;
    color: white;
    font-weight: normal;
    text-align: center;
    }

.nav_senter{
    display: none;
    }
   
.nav_check{
    display: none;
    }
    
.nav_check:checked ~ ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
    }

.nav_check:checked + .nav_ikon{
        background-image: url("kryss2.svg");
}
nav ul li a:hover{
    transform: scale(1.1);
}
    
@media screen and (min-width: 950px) {
    .nav_ikon{
            display: none;
    }
    .mobil_logo{
            display: none;
    
    }

    nav ul{
        position: absolute !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between !important;
        width: 100% !important;
    }

    nav ul li a{
        margin: 20px;
        padding: 10px;
        border-radius: 25px;
        width: 125px;
        min-width: 125px;
    }

    .nav_senter{
    
        margin: 10px;
        font-family: 'Courier New', Courier, monospace;
        padding: 10px;
        background: none;
        display: block;
        height: 125px;
        width: 125px;
        background-image: url("BadCom_logo.png");
        background-size: 125px;
        background-position: center;
        background-repeat: no-repeat;
    } 

}